<section id="login" class="login-wrap">
  <h1>Sign in/Sign Up</h1>
  <form action="/labs/search" class="login-form">
    <fieldset>
      <legend>Personal information:</legend>
      E-Mail:
      <input type="text" name="firstname"><br>
      Password:
      <input type="text" name="lastname"><br><br>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</section>